.cover__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  text-align: center;
  z-index: 2;
  max-width: 360px;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    max-width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    max-width: 360px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    max-width: 288px;
  }
}
