.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 48px;
  width: calc(100% - 96px);
  max-width: 928px;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
    padding: 28px 48px 74px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px;
    width: calc(100% - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 350px) {
  .header {
    padding: 16px 16px 48px;
    width: calc(100% - 32px);
    max-width: 288px;
  }
}
