.footer__links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 18px;
}

@media screen and (min-width: 1280px) {
  .footer__links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer__links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 18px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
