.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    line-height: 1;
    padding-top: 48px;
  }
}
