.lang-choice {
  min-width: 78px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

@media screen and (max-width: 350px) {
  .lang-choice {
    max-width: 62px;
    font-size: 18px;
  }
}
