.intro {
  padding-right: calc(100% - 690px - 48px);
  padding-left: 48px;
}

@media screen and (min-width: 1280px) {
  .intro {
    /* padding-right: calc(100% - 690px - 12px); */
    padding-right: calc(984px - 12px - 690px);
    padding-left: 12px;
    max-width: 984px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-right: 16px;
    padding-left: 16px;
  }
}
