.lead__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 4px 0 64px;
  max-width: 640px;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 4px 0 64px;
    max-width: 640px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    margin: 4px 0 64px;
    max-width: 640px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 40px;
    max-width: 288px;
  }
}
