.cover__overlay {
  text-decoration: none;
  position: relative;
  width: 100%;

  min-width: 740px;
  background-image: url(./../../../images/Railway_station.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  min-height: 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 44, 47, 0.3);
  z-index: 1;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    width: 100%;

    max-width: 1184px;
    min-height: 740px;
  }
}

@media screen and (max-width: 780px) {
  .cover__overlay {
    width: 100%;

    min-width: 300px;

    min-height: 480px;
  }
}

@media screen and (max-width: 350px) {
  .cover__overlay {
    width: 100%;
    min-width: 300px;

    min-height: 200px;
  }
}
