.lead__image-title {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  margin: 8px 0;
  margin-bottom: 29px;
}

@media screen and (min-width: 1280px) {
  .lead__image-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    margin: 8px 0;
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    margin: 8px 0;
    margin-bottom: 29px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    margin: 8px 0;
    margin-bottom: 5px;
    padding-left: 16px;
    box-sizing: border-box;
    width: 100%;
  }
}
