.intro__listelem {
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .intro__listelem {
    line-height: 1.5;
  }
}

@media screen and (max-width: 320px) {
  .intro__listelem {
    line-height: 1.5;
  }
}
