.cover__title {
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  text-align: center;
  z-index: 2;
  max-width: 560px;
}

@media screen and (min-width: 1280px) {
  .cover__title {
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.055;
    text-align: center;
    z-index: 2;
    max-width: 560px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.055;
    text-align: center;
    z-index: 2;
    max-width: 560px;
  }
}

@media screen and (max-width: 700px) {
  .cover__title {
    color: #fff;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.055;
    text-align: center;
    z-index: 2;
    max-width: 288px;
  }
}
