.place {
  display: grid;
  grid-template-columns: fit-content(440px) fit-content(456px);
  grid-template-rows: auto auto;
  gap: 48px 32px;
  padding-bottom: 75px;
  max-width: 100%;
}
@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;

    gap: 48px 40px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) fit-content(352px);

    gap: 48px 28px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 450px) {
  .place {
    grid-template-columns: fit-content(320px);
    grid-template-rows: auto;
    gap: 32px;
    padding-bottom: 90px;
  }
  .place:nth-last-of-type(1) {
    padding-bottom: 50px;
  }
}
