.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px);
  padding-top: 92px;
  padding-bottom: 24px;
  max-width: 100%;
}

@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    justify-content: space-between;
    min-width: 928px;
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 288px;
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: 100%;
  }
}
