.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: #aaa;
  margin: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}

@media screen and (max-width: 450px) {
  .place__url-heading {
    line-height: 1;
    padding-bottom: 12px;
  }
}
