.intro__title {
  display: block;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.075;
  max-width: 690px;
  margin-bottom: 40px;
  margin-top: 63px;
}

@media screen and (min-width: 1280px) {
  .intro__title {
    display: block;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.075;
    max-width: 690px;
    margin-bottom: 40px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    display: block;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.075;
    max-width: 720px;
    margin-bottom: 40px;
    margin-top: 59px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    display: block;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
    margin-bottom: 40px;
    margin-top: 59px;
  }
}
